body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.area-apresentacao {
    width: 70%;
    height: 100vh;
    overflow: hidden;
}
.area-login{
    width: 45%;
    background-color: #ffffff;
}
.formulario-login{
    max-width: 420px;
    width: 70%;
}

.area-login {
    width: 50%;
    height: 100vh;
}
