body{
    margin: 0;
}
.area-apresentacao{
    width: 55%;
    background-image: url("../img/Autorao-Dois.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.area-login{
    width: 45%;
    background-color: #ffffff;
}
.formulario-login{
    max-width: 420px;
    width: 100%;
}