.area-apresentacao{
    width: 65%; /* Alinhamento perfeito entre a tela de apresentação e o formulário */
    background-image: url("../img/Autorao-Dois.jpeg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */ /* Não é necessária a utilização desta linha */
}
.area-login{
    width: 39%;
    background-color: #00143A;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    margin-left: -4%;
    /* z-index: 1; */ /* Não é necessário utilizar também */

}
.formulario-login{
    font-family: Poppins; 
    max-width: 300px;
    margin-left: 50px;
    margin-bottom: 50px;
}