
body{
    background-color: redd !important;
}
.indicador {
    border: none  !important;
    color: white !important;
}

.indicador.cadastradas {
    background-color: #152350 !important;
}

.indicador.online {
    background-color: #198754 !important;
}

.indicador.falhas {
    background-color: #dc3545 !important;
}

.indicador.producao {
    background-color: #f7a21b !important;
}

.indicador.indicador h2 {
    color: white !important;
}

.indicador.cabecalho-tabela {
    background-color: #152350 !important;
    color: white !important;
}

.indicador.cabecalho-tabela th {
    color: white !important;
}