
body{
    background-color: redd ;
}
.indicador {
    border: none  ;
    color: white ;
}

.indicador.cadastradas {
    background-color: #152350 ;
}

.indicador.online {
    background-color: #198754 ;
}

.indicador.falhas {
    background-color: #dc3545;
}

.indicador.producao {
    background-color: #f7a21b;
}

.indicador.indicador h2 {
    color: white ;
}

.indicador.cabecalho-tabela {
    background-color: #152350;
    color: white ;
}

.indicador.cabecalho-tabela th {
    color: white ;
}