aside {
    width: 270px;
    min-height: 100vh;
    background-color: #0d2b45;
    color: white;
    border-right: 2px solid #ccc;
    display: flex;
    flex-direction: column;
}

aside h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

aside a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

aside a:hover {
    color: #00bfff;
}

main h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

main h2 {
    margin-bottom: 15px;
}

.card {
    min-height: 120px;
}

.card h2 {
    font-size: 28px;
    margin-bottom: 5px;
    color: #575555;
    font-weight: bold;
}

.card p {
    font-size: 15px;
    margin: 0;
}

table {
    border-radius: 8px;
    overflow: hidden;
}

table th,
table td {
    vertical-align: middle;
    padding: 12px;
}